/* global.css */
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme {
    --color-primary: var(--color-primary);
    --color-primary-light: var(--color-primary-light);
    --color-overlay: rgb(35, 21, 6);
}

:root {
    /* Text */
    --color-primary: #CA864C;
    --color-primary-light: #E0BB84;
}